@font-face {
  font-family: "ZzzFont";
  src: url("../../../assets/fonts/Zzz.woff"), url("../../../assets/fonts/Zzz.ttf"),
    url("../../../assets/fonts/Zzz.otf");
}

/* First Block */
.backend-main {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#zakodixnet_canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.title {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.title h1,
.backend-descript h2,
.node h2,
.python h2,
.contact-us h3 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}
.contact-us h3 {
  font-size: 48px;
}
@media screen and (max-width: 640px) {
  .title h1 {
    font-size: 36px;
    margin: 80px 0px;
  }

  .title h1:first-child {
    max-width: 320px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Second Block */
.backend-descript {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backend-descript section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.backend-descript h2 {
  font-size: 48px;
  margin: 80px 0px 50px 0px;
}

.backend-descript p {
  font-size: 24px;
  margin: 0px;
}

.java-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.java-block p {
  max-width: 378px;
  text-align: left;
}
.java-item {
  margin-bottom: 30px;
}
.java-item p:nth-child(2) {
  margin: 20px 0 15px 0;
  font-size: 32px;
}
.java-item p:nth-child(3) {
font-weight: 400;
}
.java-item div {
  width: 377px;
  height: 377px;
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.java-block div div:nth-child(2) p:nth-child(2) {
  font-size: 24px;
}

/* Ruby */
.ruby-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.ruby-item {
  width: 278px;
}

.ruby-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 104.6%;
  text-align: center;
}

.ruby-item div {
  width: 278px;
  height: 278px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* node */
.node,
.python {
  background: #222222;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.node h2,
.python h2 {
  font-size: 48px;
  margin: 80px 0 50px 0;
}

.node section,
.python section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.ruby-desktop-block,
.python-desktop-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.ruby-desktop-radial,
.mobile-radial,
.python-desktop-radial {
  color: black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.6%;
  margin: 10px;
}

.ruby-desktop-radial {
  width: 280px;
  height: 280px;
}



.mobile-radial {
  width: 250px;
  height: 250px;
}

.python-desktop-radial {
  width: 378px;
  height: 378px;
}

.python-desktop-radial p {
  width: 300px;
}

.mobile-font {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1210px) {

  .backend-descript section,
  .node section,
  .python section {
    width: 90%;
  }

  .ruby-desktop-radial,
  .python-desktop-radial {
    margin: 10px;
  }
}

@media screen and (min-width: 640px) {

  .mobile-slider {
    display: none;
  }
}

@media screen and (max-width: 640px) {

  .ruby-desktop-block,
  .python-desktop-block {
    display: none;
  }

  .backend-descript section {
    width: 90%;
    margin-bottom: 50px;
  }

  .ruby-block,
  .java-block {
    flex-direction: column;
    width: 100%;
  }
  .ruby-item  {
    margin: 15px 0px;
  }
  .ruby-item  {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .ruby-item div {
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
  }
  .java-item {
    margin-bottom: 20px;
  }
  .java-item div {
    width: 100%;
    height: 370px;
  }
  .java-item p:nth-child(2) {
    margin: 10px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.6%;
  }
  .java-item p:nth-child(3) {
    width: 100%;
    margin: 0;
  }
  .java-item p {
    width: 100%; 
  }
  .ruby-item p  {
    width: 138px;}
  .ruby-item p, .java-item p  {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 104.6%;
    text-align: left;
    align-self: center;
  }

  .node,
  .python {
    padding: 0;
    margin-bottom: 20px;
  }

  .backend-descript h2,
  .node h2,
  .python h2 {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }

  .backend-descript section:nth-child(2) h2 {
    margin: 30px 0px 30px 0px;
  }

  .backend-descript section:nth-child(3) h2 {
    margin: 50px 0px 30px 0px;
  }

  .backend-descript p:first-child {
    font-size: 18px;
    font-weight: 500;
  }

  /* Slider */
  div.mobile-slider.slider {
    width: 70%;
  }

  div.mobile-slider.slider .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.mobile-slider.slider .slick-slide p:last-child {
    font-size: 16px;
    margin: 15px 0px 10px 0px;
  }

  .mobile-slider p:nth-child(2) {
    font-size: 24px;
  }

  div.mobile-slider.slider .slick-dots li button:before {
    color: white;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
  }

  .slick-dots {
    font-size: 5px;
  }

  .slick-dots li {
    margin: 0px;
  }

  .slick-dots li.slick-active button:before {
    font-size: 10px;
    top: 1px;
  }
}

@media screen and (max-width: 412px) {

  .mobile-radial {
    width: 230px;
    height: 230px;
  }
}