@font-face {
  font-family: "ZzzFont";
  src: url("../assets/fonts/Zzz.ttf"), url("../assets/fonts/Zzz.otf");
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  width: 100%;
  min-height: 75px;
  background-color: #3a3a3a;
  position: absolute;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header div.logo {
  display: flex;
  width: 102px;
  height: 46px;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
}
header div.logo p {
  color: white;
  cursor: default;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 24px;
  display: flex;
}
nav ul li:hover {
  background-color: #555555;
  cursor: pointer;
  flex-wrap: nowrap;
}
nav ul > li {
  display: flex;
  position: relative;
  width: 200px;
  min-height: 75px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.submenu-link:hover {
  background-color: #555555;
  cursor: pointer;
}
.submenu {
  background: #273037;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 100%;
  height: 75px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
  background-color: #181818;
  cursor: pointer;
}
.topmenu > li:hover .submenu li {
  background-color: #181818;
}
.topmenu > li:hover .submenu li:hover {
  background-color: #555555;
}
.topmenu > li .submenu a,
ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* First Block */
.zakodix {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titles-block {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.titles-block h1,
.how-it-works h2,
.select-spec section p,
.contact-us h4 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;

  text-align: center;
}
.titles-block h1 {
  color: white;
  margin: 50px;
}
.titles-block h1:first-child {
  max-width: 400px;
}
.titles-block h1:last-child {
  max-width: 600px;
}
@media screen and (max-width: 600px) {
  .titles-block h1 {
    font-size: 36px;
    margin: 80px 0px;
  }
  .titles-block h1:first-child {
    max-width: 270px;
  }
  .titles-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
  header {
    display: none;
  }
}

/* Second Block */
.how-it-works {
  width: 100%;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.how-it-works section {
  display: flex;
  flex-wrap: wrap;
}
.how-it-works-item {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin: 10px;
}
.how-it-works-item div {
  width: 278px;
  height: 278px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-it-works-item h4 {
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0px 10px 0px;
}
.how-it-works-item p {
  font-size: 24px;
  margin-top: 0px;
}
.how-it-works h2,
.contact-us h4 {
  font-size: 48px;
}
@media screen and (max-width: 600px) {
  .how-it-works h2 {
    font-size: 24px;
  }
  .how-it-works-item h4 {
    font-size: 18px;
  }
  .how-it-works-item p {
    font-size: 16px;
  }
  .how-it-works-item div {
    width: 216px;
    height: 216px;
  }
}
/* Three Block */
.select-spec {
  width: 100%;
  min-height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-spec section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.select-spec section p {
  color: white;
  max-width: 630px;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .select-spec section p {
    font-size: 36px;
    margin: 20px;
  }
  .select-spec section p:first-child {
    text-align: left;
    margin-bottom: 60px;
  }
  .select-spec section p:last-child {
    text-align: right;
  }
}

/* Four Block */
.contact-us {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us p {
  font-size: 36px;
  margin: 20px;
}
.contact-us h4 {
  margin: 30px;
}
.contact-us div,
.contact-us div a {
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .contact-us {
    min-height: 286px;
  }
  .contact-us p {
    font-size: 18px;
    margin: 10px;
  }
  .contact-us h4 {
    font-size: 24px;
    margin: 50px 0px 10px 0px;
  }
  .contact-us div a img {
    width: 40px;
    height: 40px;
  }
}

/* Footer */
footer {
  width: 100%;
  min-height: 460px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
footer section {
  width: 80%;
}
footer section:first-child {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  max-height: 240px;
  justify-content: space-between;
}
.footer-contacts div:first-child img {
  float: right;
}
.footer-contacts div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.footer-contacts button {
  width: 228px;
  height: 65px;
  font-size: 24px;
  line-height: 125.6%;
  background: #f0f0f0;
  border-radius: 21px;
  border: none;
}
.footer-contacts button:hover {
  cursor: pointer;
}
.footer-menu ul {
  list-style: none;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 24px;
  padding: 0px;
  margin-top: 30px;
}
footer section:last-child {
  font-size: 24px;
  line-height: 28px;
  opacity: 0.6;
  color: white;
  outline: none;
  margin: 50px 0px;
}

@media screen and (max-width: 600px) {
  footer {
    min-height: 390px;
    padding: 0px 20px;
    align-items: flex-start;
  }
  footer section:last-child {
    font-size: 14px;
    margin: 30px 0px;
  }
  footer section:first-child {
    display: flex;
    flex-direction: column;
    width: 196px;
  }
  .footer-contacts div:first-child {
    display: none;
  }
  .footer-contacts div:nth-child(2) {
    margin: 15px 0px;
  }
  .footer-menu ul {
    font-size: 16px;
    height: 130px;
    margin: 0px 0px 5px 0px;
  }
  .footer-contacts button {
    width: 150px;
    height: 50px;
    font-size: 18px;
  }
}
