@font-face {
  font-family: "ZzzFont";
  src: url("../../assets/fonts/Zzz.woff"), url("../../assets/fonts/Zzz.ttf"),
    url("../../assets/fonts/Zzz.otf");
}
/* First Block */
.backend-main {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#zakodixnet_canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.title {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.title h1,
.backend-descript h2,
.ruby-second h2,
.python h2,
.contact-us h4 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .title h1 {
    font-size: 36px;
    margin: 80px 0px;
  }
  .title h1:first-child {
    max-width: 320px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Second Block */
.backend-descript {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backend-descript section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backend-descript h2 {
  font-size: 48px;
  margin: 80px 0px 50px 0px;
}
.backend-descript p {
  font-size: 24px;
  margin: 0px;
}
.logo-node {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.logo-node p {
  margin: 20px 0px;
  max-width: 377px;
  text-align: center;
}
.logo-node div div:first-child {
  width: 377px;
  height: 377px;
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-node div div:nth-child(2) p:nth-child(2) {
  font-size: 24px;
}

/* Ruby */
.ruby-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.ruby-item {
  width: 278px;
}
.ruby-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 104.6%;
  text-align: center;
}
.ruby-item div {
  width: 278px;
  height: 278px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* ruby-second */
.ruby-second,
.python {
  background: #222222;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.ruby-second section,
.python section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.ruby-second-block,
.python-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.ruby-second-radial {
  width: 280px;
  height: 280px;
  color: black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.6%;
}
.python-radial {
  width: 378px;
  height: 378px;
  color: black;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 125.6%;
}
.python-radial p {
  width: 300px;
}


.radial {
  width: 250px;
  height: 250px;
  background-color: #222222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .backend-descript section {
    width: 100%;
  }
  .backend-descript h2 {
    font-size: 24px;
    margin: 50px 0px 10px 0px;
  }
  .backend-descript section:nth-child(2) h2 {
    margin: 30px 0px 30px 0px;
  }
  .backend-descript section:nth-child(3) h2 {
    margin: 50px 0px 30px 0px;
  }
  .backend-descript p:first-child {
    font-size: 18px;
    font-weight: 500;
  }
  .logo-node div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0px;
  }
  .logo-node p {
    margin: 0px 0px 10px 0px;
  }
  .logo-node.all div div:first-child {
    width: 216px;
    height: 216px;
  }
  .logo-node div div:first-child {
    width: 216px;
  }
  .logo-node div div:nth-child(2) {
    width: 138px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .logo-node div div:nth-child(2) p:nth-child(2) {
    font-size: 16px;
  }
  
}

/* Contact Us */
.contact-us {
  background: white;
  width: 100%;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us p {
  font-size: 36px;
  margin: 0px 0px 20px 0px;
}
.contact-us h4 {
  margin: 80px 0px 50px 0px;
  font-size: 48px;
}
.contact-us div,
.contact-us div a {
  margin: 10px;
}
.contact-us div a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .contact-us {
    padding-bottom: 50px;
  }
  .contact-us p {
    font-size: 18px;
    margin: 10px;
  }
  .contact-us h4 {
    font-size: 24px;
    margin: 50px 0px 20px 0px;
  }
  .contact-us div a img {
    width: 40px;
    height: 40px;
  }
}
