@font-face {
  font-family: "ZzzFont";
  src: url("./assets/fonts/Zzz.woff"), url("./assets/fonts/Zzz.ttf"),
    url("./assets/fonts/Zzz.otf");
}
/* First Block */
.zakodix {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
#zakodixnet_canvas,#zakodixnet_canvas2 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.titles-block {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.titles-block h1,
.how-it-works h2,
.select-spec section p,
.contact-us h4 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;

  text-align: center;
}
.titles-block h1 {
  color: white;
  margin: 50px;
}
.titles-block h1:first-child {
  max-width: 400px;
}
.titles-block h1:last-child {
  max-width: 600px;
}
@media screen and (max-width: 640px) {
  .titles-block h1 {
    font-size: 36px;
    margin: 80px 0px;
  }
  .titles-block h1:first-child {
    max-width: 270px;
  }
  .titles-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Second Block */
.how-it-works {
  background: white;
  width: 100%;
  /* min-height: 840px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding-top: 30px; */
}
.how-it-works section {
  display: flex;
  flex-wrap: wrap;
}
.how-it-works h2 {
  margin: 80px 0px 50px 0px;
}
.how-it-works-item {
  display: flex;
  flex-direction: column;
  width: 278px;
  margin: 10px;
}
.how-it-works-item div {
  width: 278px;
  height: 278px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-it-works-item h4 {
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0px 10px 0px;
}
.how-it-works-item p {
  font-size: 24px;
  margin: 0px;
}
.how-it-works h2,
.contact-us h4 {
  font-size: 48px;
}

@media screen and (min-width: 640px) {

.how-it-works {
  align-items: center;
}
.how-it-works section.slider {
  display: none;
}
}

@media screen and (max-width: 640px) {

  .how-it-works h2 {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }
  .how-it-works-item h4 {
    font-size: 18px;
  }
  .how-it-works-item p {
    font-size: 16px;
  }
  .how-it-works-item div {
    width: 216px;
    height: 216px;
  }
  .how-it-works section.desktop {
    display: none;
  }
  .slider p {
    width: 216px;
  }
  .how-it-works section.desktop {
    display: none;
  }
  .slick-dots {
    font-size: 5px;
  }
  .slick-dots li {
    margin: 4px;
  }
  .slick-dots li.slick-active button:before {
    font-size: 10px;
    /* top: 1px; */
  }
}

/* Three Block */
.select-spec {
  width: 100%;
  min-height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* z-index: -2; */
}

.select-spec section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.select-spec section p {
  color: white;
  max-width: 630px;
  margin: 10px 10px;
  cursor: default ;
  opacity: 0.1;
}
.select-one, .select-two {
  transition: 0.7s;
}
.select-one.active, .select-two.active {
opacity: 1;
transition: 0.7s;
}

@media screen and (max-width: 640px) {
  .select-spec section p {
    font-size: 36px;
    margin: 20px;
  }
  .select-spec section p:first-child {
    text-align: left;
    margin-bottom: 60px;
  }
  .select-spec section p:last-child {
    text-align: right;
  }
}

/* Four Block */
.contact-us {
  background: white;
  width: 100%;
padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-us p {
  font-size: 36px;
  margin: 20px;
}
.contact-us h4 {
  margin: 80px 0px 50px 0px;
}
.contact-us div,
.contact-us div a {
  margin: 10px;
}
.contact-us div a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .contact-us {
   padding-bottom: 50px;
  }
  .contact-us p {
    font-size: 18px;
    margin: 10px;
  }
  .contact-us h4 {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }
  .contact-us div a img {
    width: 40px;
    height: 40px;
  }
}
