@font-face {
  font-family: "TrainOne";
  src: url("../../../assets/fonts/TrainOne-Regular.ttf") format("truetype");
}
/* First Block */
.outsourcing-main {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#zakodixnet_canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.title {
  font-family: "TrainOne";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
}
.title h1,
.outsourcing-descript h2,
.select-spec section p,
.contact-us h3 {
  font-family: "TrainOne";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .title h1 {
    font-size: 36px;
    margin: 80px 0px;
  }
  .title h1:first-child {
    max-width: 320px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Select spec */
.select-spec {
  width: 100%;
  min-height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* z-index: -2; */
}

.select-spec section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.select-spec section p {
  color: white;
  max-width: 630px;
  margin: 10px 10px;
  cursor: default;
  opacity: 0.1;
}
.select-one,
.select-two {
  transition: 0.7s;
}
.select-one.active,
.select-two.active {
  opacity: 1;
  transition: 0.7s;
}

@media screen and (max-width: 1200px) {
  .select-spec section {
    flex-direction: column;
  }
  .select-spec section .select-one {
    align-self: flex-start;
    text-align: left;
  }
  .select-spec section .select-two {
    align-self: flex-end;
    text-align: right;
  }
}
@media screen and (max-width: 640px) {
  .select-spec section p {
    font-size: 36px;
    margin: 20px;
  }
  .select-spec section p:first-child {
    text-align: left;
    margin-bottom: 60px;
  }
  .select-spec section p:last-child {
    text-align: right;
  }
}

/* Second Block */
.outsourcing-descript {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outsourcing-descript section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outsourcing-descript h2 {
  font-size: 48px;
  margin: 80px 0px;
}
.outsourcing-descript p {
  font-size: 36px;
  margin: 0px;
}

@media screen and (max-width: 640px) {
  .outsourcing-descript section {
    width: 100%;
  }
  .outsourcing-descript h2 {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }
  .outsourcing-descript section:nth-child(2) h2 {
    margin: 30px 0px 30px 0px;
  }
  .outsourcing-descript section:nth-child(3) h2 {
    margin: 50px 0px 30px 0px;
  }
  .outsourcing-descript p:first-child {
    font-size: 18px;
    font-weight: 500;
  }
}

/* Animated Tech background */
.animate-tech-background {
  height: 686px;
  width: 100%;
  background: #222222;
  position: relative;
}
.animate-tech-background canvas {
    width: 100%;
}
#tech_canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}

/* @media screen and (max-width: 640px) {
    .animate-tech-background {
        height: 100vh;
    }
} */


