@font-face {
  font-family: "ZzzFont";
  src: url("../../../assets/fonts/Zzz.woff"), url("../../../assets/fonts/Zzz.ttf"),
    url("../../../assets/fonts/Zzz.otf");
}

/* First Block */
.business-main {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#zakodixnet_canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.title {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 880px;
}

.title h1,
.business-descript h2,
.business-schemas h2,
.benefits h2,
.contact-us h3 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}

.contact-us h3  {
  font-size: 48px;
}

@media screen and (max-width: 640px) {
  .title h1 {
    font-size: 36px;
    margin: 80px 0px;
  }

  .title h1:first-child {
    max-width: 320px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Second Block */
.business-descript {
  background: white;
  width: 100%;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.business-descript section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.business-descript h2 {
  font-size: 48px;
  margin: 80px 0px 50px 0px;
}

.logo-business {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

.logo-business div div:first-child {
  width: 377px;
  height: 377px;
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 10px;
}

.logo-business div div:first-child h3 {
  margin: 30px 0px 40px 0px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 104.6%;
  font-style: normal;
}

/* Benefits */
.benefits {
  background: white;
  width: 100%;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits h2 {
  font-size: 48px;
  color: black;
  margin: 80px 0 50px 0;
}

.benefits section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.benefits-block-desktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.benefits-radial {
  width: 214px;
  height: 214px;
  color: white;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 125.6%;
}

@media screen and (max-width: 1214px) {

  .benefits section,
  .business-descript section {
    width: 90%;
  }

  .logo-business {
    justify-content: space-around;
  }

  .benefits-radial {
    margin: 10px;
  }
}

@media screen and (min-width: 640px) {
  .benefits-block-mobile {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .benefits-block-desktop {
    display: none;
  }

  .business-descript {
    min-height: 400px;

  }

  .business-descript section {
    width: 100%;
  }

  .benefits {
    min-height: 430px;
  }

  .business-descript h2,
  .benefits h2 {
    font-size: 24px;
    margin: 50px 0px 10px 0px;
  }

  .business-descript section:nth-child(2) h2 {
    margin: 30px 0px 30px 0px;
  }

  .business-descript section:nth-child(3) h2 {
    margin: 50px 0px 30px 0px;
  }

  .business-descript p:first-child {
    font-size: 18px;
    font-weight: 500;
  }

  .logo-business {
    width: 92%;
  }

  .logo-business h3 {
    margin: 0;
  }

  .logo-business div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo-business p {
    margin: 0px 0px 10px 0px;
  }

  .logo-business.all div div:first-child {
    width: 170px;
    height: 170px;
  }

  .logo-business div div:first-child h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 104.6%;
    text-align: center;
    margin: 0;
    width: 156px;
  }

  /* Slider */
  div.benefits-block-mobile.slider {
    width: 70%;
  }

  div.benefits-block-mobile.slider .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.benefits-block-mobile.slider .slick-slide p {
    font-size: 16px;
    margin: 15px 0px 10px 0px;
  }

  .technologies p:nth-child(2) {
    font-size: 24px;
  }

  .slick-prev,
  .slick-next {
    top: 50%;
  }

  .slick-dots {
    font-size: 5px;
  }

  .slick-dots li {
    margin: 0px;
  }

  .slick-dots li.slick-active button:before {
    font-size: 10px;
    top: 1px;
  }
}

@media screen and (max-width: 412px) {
  .logo-business.all div div:first-child {
    margin: 5px;
  }
  .logo-business {
    width: 98%;
  }
}



.business-schemas {
  background: #222222;
  width: 100%;
  padding-bottom: 80px;
}
.business-schemas section {
  margin: 0 auto;
}
.business-schemas h2 {
  font-size: 48px;
  margin: 80px 0 50px 0;
  color: white;
}


@media screen and (max-width: 1214px) {
  .carousel-container-wrap {
    display: none;
  }
  .carousel-container-mobile {
    margin: 0 auto;
    max-width: 800px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 800px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 800px;
  }
  .business-schemas {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 840px) {
  .carousel-container-mobile {
    max-width: 600px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 600px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 600px;
  }
}

@media screen and (max-width: 640px) {
  .carousel-container-mobile {
    max-width: 400px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 400px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 400px;
  }
  .business-schemas section h2,
  .contact-us h2 {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }
}

@media screen and (max-width: 450px) {
  .carousel-container-mobile {
    max-width: 350px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 350px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 350px;
  }
}

@media screen and (min-width: 1214px) {
  .carousel-container-mobile {
    display: none;
  }
  .business-schemas section {
    width: 1200px;
    margin: 0 auto;
  }
}

.carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
  margin-right: 10px;
}
.carousel-container-wrap {
  position: relative;
  width: 1200px;
}

.carousel-container {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 20px 0px 40px;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.business-schemas div.carousel-container-mobile .slider .slick-dots li button:before {
  color: white;
}

.carousel-slide img {
  width: 1000px;
  object-fit: cover;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: white;
  cursor: pointer;
  height: 70px;
}

.carousel-prev {
  left: 0px;
}

.carousel-next {
  right: 10px;
}

.carousel-dots {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  cursor: pointer;
}

.carousel-dot.active {
  background: white;
}