@font-face {
    font-family: "ZzzFont";
    src: url("../../assets/fonts/Zzz.woff"), url("../../assets/fonts/Zzz.ttf"), url("../../assets/fonts/Zzz.otf");
}

/* First Block */
.upgrade-main {
    background-color: #222222;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#zakodixnet_canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.title {
    font-family: "ZzzFont";
    font-weight: 500;
    font-size: 34px;
    line-height: 125%;
    font-style: normal;
    color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 1090px;
}

.title h1,
.upgrade-descript h2,
.upgrade-offer h2,
.reasons h2,
.python h2,
.approach3 h2,
.contact-us h4,
.approach2-item h4 {
    font-family: "ZzzFont";
    font-weight: 500;
    font-size: 64px;
    line-height: 125%;
    font-style: normal;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .title h1 {
        font-size: 36px;
        margin: 80px 0px;
    }

    .title h1:first-child {
        max-width: 320px;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 340px;
    }
}

.upgrade-offer {
    width: 100%;
    height: 220px;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.upgrade-offer h2 {
    font-size: 48px;
    max-width: 1045px;
}
/* Second Block */
.upgrade-descript {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upgrade-descript section {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.upgrade-descript h2 {
    font-size: 48px;
    margin: 80px 0px 50px 0px;
}

.upgrade-descript p {
    font-size: 24px;
    margin: 0px;
    font-weight: 500;
}
.problems {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.problems-radial-desktop, .problems-radial  {
    background: #222222;
    width: 214px;
    height: 214px;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.problems-radial-desktop p, .problems-radial p {
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 104.6%;
}
/* UPGRADE Process */
.upgrade-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.upgrade-item {
    width: 278px;
}
.upgrade-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 104.6%;
}
.upgrade-item div {
    width: 278px;
    height: 278px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: white;
}
.upgrade-item div p {
    font-weight: 500;
    line-height: 125.6%;
    font-size: 36px;
    text-align: center;
}
/* reasons */
.approach2-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.approach2-item h4 {
    font-size: 32px;
    margin: 20px 0;
}
.reasons {
    background: #222222;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.reasons h2 {
    font-size: 48px;
    margin: 50px 0;
}

.reasons section {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.reasons-block-desktop {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.reasons-radial {
    width: 280px;
    height: 280px;
    color: black;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.reasons-radial p {
    width: 254px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 104.6%;
    font-weight: 400;
}

@media screen and (max-width: 1214px) {
    .upgrade-descript section,
    .reasons section,
    .upgrade-offer section,
    .approach3 section,
    .upgrade-about section {
        width: 90% !important;
    }

    .reasons-radial,
    .upgrade-item {
        margin: 10px;
    }
}

@media screen and (min-width: 640px) {
    .reasons-block-mobile, .problems-mobile {
        display: none;
    }
}

@media screen and (max-width: 640px) {

    .upgrade-descript section {
        width: 100%;
        margin-bottom: 30px;
    }

    .upgrade-descript h2,
    .reasons h2,
    div.approach3 section h2,
    .upgrade-offer h2 {
        font-size: 24px;
        margin: 50px 0px 30px 0px;
    }

    .upgrade-descript section:nth-child(2) h2 {
        margin: 30px 0px 30px 0px;
    }

    .upgrade-descript section:nth-child(3) h2 {
        margin: 50px 0px 30px 0px;
    }

    .upgrade-descript p:first-child {
        font-size: 18px;
        font-weight: 500;
        margin-top: 10px;
    }

    .reasons-block-desktop, .problems {
        display: none;
    }

    .upgrade-item p {
        width: 138px;
        align-self: center;
        font-size: 16px;
        margin-left: 10px;
    }

    .upgrade-item {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin: 15px 10px;
    }

    .upgrade-item div {
        width: 200px;
        height: 200px;
        margin: 0;
    }
    .upgrade-offer {
        height: 130px;
    }
    .upgrade-offer h2 {
        margin: 20px 0;
    }
    .reasons {
        padding: 0px;
        margin-bottom: 20px;
    }

    .reasons-radial, .problems-radial  {
        width: 248px;
        height: 248px;
    }
    div.approach3 {
        padding-bottom: 50px;
    }
div.approach3-item {
    /* margin: 0 5px; */
}

 div.approach3-item .approach3-item-title {
    font-size: 24px;
    max-width: 153px;
    margin: 10px 0 20px 0;
}
    div.approach3-item-square {
        width: 177px;
        height: 177px;
    }
    div.approach3-item-square p {
        font-size: 18px;
        max-width: 163px;
    }
    div.approach3-item-square p {
        max-width: 166px !important;
    }
    .upgrade-about {
        padding-bottom: 50px;
    }

    .upgrade-about section p {
        font-size: 18px;
        line-height: 21px;
    }
    .upgrade-about section .black-button {
        width: 149px;
        height: 50px;
        border-radius: 21px;
        font-size: 18px;
    }



    /* Slider */
    div.reasons-block-mobile.slider, .problems-mobile.slider {
        width: 70%;
    }

    div.reasons-block-mobile.slider .slick-slide,  .problems-mobile.slider .slick-slide{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .reasons-block-mobile h4 {
        font-family: "ZzzFont";
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 125.6%;
        margin: 20px 0;
    }
    div.reasons-block-mobile.slider .slick-slide p {
        font-size: 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 104.6%;
        margin: 15px 0px 10px 0px;
    }

    .reasons-block-mobile p:nth-child(2) {
        font-size: 24px;
    }

    div.reasons-block-mobile.slider .slick-dots li button:before {
        color: white;
    }
    div.problems-mobile.slider .slick-dots li button:before {
        color: black;
    }
    .slick-prev,
    .slick-next {
        top: 50%;
    }

    .slick-dots {
        font-size: 5px;
    }

    .slick-dots li {
        margin: 0px;
    }

    .slick-dots li.slick-active button:before {
        font-size: 10px;
        top: 1px;
    }
    .problems-radial {
        margin: 7px;
    }
}
@media screen and (max-width: 430px) {
    .problems-mobile .slick-track {
        width: 3000px !important;
    }
}
@media screen and (min-width: 430px) and (min-width: 639px) {
    .problems-radial {
        width: 248px !important;
        height: 248px !important;
    }
}

@media screen and (max-width: 412px) {
    .reasons-radial, .problems-radial {
        width: 230px;
        height: 230px;
    }
    div.reasons-block-mobile.slider .slick-slide p {
        font-size: 22px;
    }
    div.approach3-item-square {
        width: 160px;
        height: 160px;
    }
}

.approach3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding-bottom: 60px;
}
.approach3 section {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.approach3 h2 {
    font-size: 48px;
    margin: 80px 0 50px 0;
}
.approach3-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.approach3-item {
    display: flex;
    flex-direction: column;
}
.approach3-item-square {
    width: 376px;
    height: 376px;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.approach3-item-square p {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 125.6%;
    text-align: center;
    max-width: 306px;
}
.approach3-item-title {
    margin: 20px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 125.6%;
    text-align: center;
}

.upgrade-about {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-bottom: 80px;
}
.upgrade-about section {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upgrade-about p {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin: 10px 0;
}
.upgrade-about section .black-button {
    align-self: flex-end;
    margin: 10px 0;
}
