@font-face {
  font-family: "ZzzFont";
  src: url("../../assets/fonts/Zzz.woff"), url("../../assets/fonts/Zzz.ttf"), url("../../assets/fonts/Zzz.otf");
}

header:first-child {
  background: #222222;
}
.submenu {
  background: #222222;
}
.topmenu > li:hover .submenu {
  background: #222222;
}
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
  background-color: #181818;
  cursor: pointer;
}
.topmenu > li:hover .submenu li {
  background-color: #181818;
}
.topmenu > li:hover .submenu li:hover {
  background-color: #555555;
}
@media screen and (max-width: 800px) {
  header:nth-child(2) {
    background-color: #414141;
  }
}
.menu {
  background: #414141;
}
/* First Block */
.online-monitor-page {
  background-color: white;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 80px;
}
.online-monitor-page section {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  width: 1200px;
}
.title {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.online-monitor-page .title {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.online-monitor-page .title h1 {
margin: 0;
align-items: center;
}
.online-monitor-page .title h1:nth-child(2) {
  margin-top: 26px;
  margin-bottom: 40px;
}
.online-monitor-images {
  position: relative;
  width: 584px;
  height: 702px;
}
.online-monitor-images-one img,
.online-monitor-images-two img {
  width: 100%;
  height: 100%;
}

.online-monitor-images-one {
  position: absolute;
  width: 690px;
  height: 350px;
}
.online-monitor-images-two {
  position: absolute;
  width: 690px;
  height: 350px;
  top: 250px;
  left: 200px;
}

.title h1,
.online-monitor-descript h2,
.supported-features h2 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}
.online-monitor-descript .subtitle {
  font-size: 32px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1970px) {
  .online-monitor-images {
    height: 530px;
  }
  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 600px;
    height: 305px;
  }
}
@media screen and (max-width: 1770px) {
  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 600px;
    height: 305px;
  }
  .online-monitor-images-two {
    top: 200px;
    left: 100px;
  }
}

@media screen and (max-width: 1500px) {
  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 500px;
    height: 255px;
  }
  .online-monitor-images-two {
    top: 200px;
    left: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .online-monitor-page section {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .online-monitor-page section {
    flex-direction: column;
  }
  .online-monitor-images {
    height: 500px;
  }

  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 600px;
    height: 305px;
  }
  .online-monitor-images-two {
    top: 200px;
    left: 100px;
  }
}
@media screen and (max-width: 640px) {
  .online-monitor-page {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .online-monitor-page section {
    width: 90%;
  }
  .title h1 {
    font-size: 36px;
    margin: 50px 0px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 277px;
  }
  .online-monitor-images {
    width: 100%;
    height: 570px;
  }

  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 360px !important;
    height: 183px !important;
  }
  .online-monitor-images-two {
    top: 150px;
    left: 80px;
  }

  .online-monitor-descript .subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 440px) {
  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 270px !important;
    height: 138px !important;
  }
  .online-monitor-images {
    height: 400px;
    margin-top: 20px;
  }
  .online-monitor-images-two {
    top: 130px;
    left: 80px;
  }

  .supported-features {
    min-height: 350px !important;
  }
  .online-monitor-descript {
    padding-top: 0 !important;
  }
}

/* Second Block */
.online-monitor-descript {
  background: white;
  width: 100%;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 0px 0px;
}
.online-monitor-descript h2 {
  font-size: 48px;
  margin: 50px;
}
.online-monitor-descript p {
  font-size: 32px;
}
.online-monitor-descript section:nth-child(2),
.online-monitor-descript section:nth-child(4) {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  justify-content: space-between;
  max-width: 1200px;
}
.online-monitor-descript section:nth-child(2) div,
.online-monitor-descript section:nth-child(4) div {
  width: 377px;
  height: 377px;
  background: #222222;
  color: white;
  font-size: 24px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.online-monitor-descript section:nth-child(2) div p,
.online-monitor-descript section:nth-child(4) div p {
  position: absolute;
  top: 220px;
  font-size: 24px;
  text-align: center;
  max-width: 300px;
  margin: 0px;
}
.online-monitor-descript section:nth-child(2) div .image-wrapper,
.online-monitor-descript section:nth-child(4) div .image-wrapper {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 50px;
  display: flex;
  justify-content: flex-end;
}
.online-monitor-descript section:nth-child(4) div .image-wrapper {
  top: 70px;
}
.online-monitor-descript section:nth-child(4) div .image-wrapper.calendar-icon {
  top: 60px;
}
.online-monitor-descript section:nth-child(5) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}
.online-monitor-descript section:nth-child(5) p {
  font-size: 24px;
}
.fake-img-mobile {
  width: 476px;
  height: 450px;
  background-color: gray;
}

.supported-features {
  background: white;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 70px 0px;
  overflow: hidden;
}
.supported-features h2 {
  font-size: 48px;
  margin: 50px;
}
.supported-features p {
  font-size: 32px;
  margin: 20px 0;
}

.supported-features ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
}

.supported-features ul li {
  position: relative;
  padding-left: 20px;
  font-size: 24px;
}

.supported-features ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid black; /* Change the color if needed */
}

.carousel-container-wrap {
  position: relative;
  width: 1200px;
}

.carousel-container {
  margin: auto;
  width: 100%;
  max-width: 1040px;
  box-sizing: border-box;
  position: relative;
  padding: 20px 20px 40px;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide img {
  width: 1000px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 20px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: white;
  cursor: pointer;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-prev {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 50%;
  left: 0px;
  background: white;
}

.carousel-prev img,
.carousel-next img {
  height: 24px;
}

.carousel-next {
  right: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 50%;
  background: white;
}
.online-monitor-descript-text p{
  margin: 11px 0;
  line-height: 36px;
}
@media screen and (max-width: 1280px) {
  .online-monitor-descript section:nth-child(2),
  .online-monitor-descript section:nth-child(4),
  .online-monitor-descript section:nth-child(5) {
    justify-content: center;
  }
  .carousel-container-wrap {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .online-monitor-descript section:nth-child(5) {
    width: 90%;
  }
  .online-monitor-descript section:nth-child(5) p {
    max-width: 100%;
  }
}
@media screen and (min-width: 640px) {
  .fake-img-mobile,
  .img-mobile {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .img-desktop {
    display: none;
  }
  .supported-features ul {
    display: flex;
    flex-direction: column;
  }
  .supported-features ul li {
    font-size: 18px;
  }
  .online-monitor-descript {
    padding-top: 100px;
  }
  .online-monitor-descript h2,
  .supported-features h2 {
    font-size: 24px;
    margin: 30px;
  }
  .online-monitor-descript p,
  .supported-features p,
  .online-monitor-descript section:nth-child(5) p {
    font-size: 18px;
    margin: 10px 0;
  }
  .online-monitor-descript section:nth-child(2),
  .online-monitor-descript section:nth-child(4) {
    margin-bottom: 40px;
  }
  .online-monitor-descript section:nth-child(2),
  .online-monitor-descript section:nth-child(4) {
    width: 100%;
    justify-content: center;
  }
  .online-monitor-descript section:nth-child(2) div,
  .online-monitor-descript section:nth-child(4) div {
    width: 177px;
    height: 177px;
  }
  .online-monitor-descript section:nth-child(2) div .image-wrapper,
  .online-monitor-descript section:nth-child(4) div .image-wrapper {
    top: 30px;
    justify-content: flex-start;
  }
  .online-monitor-descript section:nth-child(4) div .image-wrapper.calendar-icon {
    top: 30px;
  }
  .online-monitor-descript section:nth-child(2) div p,
  .online-monitor-descript section:nth-child(4) div p {
    top: 116px;
    font-size: 14px;
    max-width: 90%;
  }

  .fake-img-mobile {
    width: 375px;
    height: 358px;
  }
  .online-monitor-descript section:nth-child(4) {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 412px) {
  .online-monitor-descript section:nth-child(2) div,
  .online-monitor-descript section:nth-child(4) div {
    width: 170px;
    height: 170px;
    margin: 5px;
  }
}

@media screen and (max-width: 1214px) {
  .carousel-container-wrap {
    display: none;
  }
  .carousel-container-mobile {
    margin: 0 auto;
    max-width: 800px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 800px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 800px;
  }
}

@media screen and (max-width: 840px) {
  .carousel-container-mobile {
    max-width: 600px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 600px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 600px;
  }

  .online-monitor-images-one,
  .online-monitor-images-two {
    width: 500px;
    height: 255px;
  }
}

@media screen and (max-width: 640px) {
  .carousel-container-mobile {
    max-width: 400px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 400px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 400px;
  }
  .solutions section h2,
  .contact-us h2 {
    font-size: 24px;
    margin: 50px 0px 30px 0px;
  }
}

@media screen and (max-width: 450px) {
  .carousel-container-mobile {
    max-width: 350px;
  }
  .carousel-container-mobile .single-item .slick-list {
    max-width: 350px;
  }
  .carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
    max-width: 350px;
  }
}

@media screen and (min-width: 1214px) {
  .carousel-container-mobile {
    display: none;
  }
  .solutions section {
    width: 1200px;
    margin: 0 auto;
  }
}

.carousel-container-mobile .single-item .slick-list .slick-track .slick-slide img {
  margin-right: 10px;
}
