@font-face {
  font-family: "ZzzFont";
  src: url("../../assets/fonts/Zzz.woff"), url("../../assets/fonts/Zzz.ttf"),
    url("../../assets/fonts/Zzz.otf");
}

/* First Block */
.dba-main {
  background-color: #222222;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

#zakodixnet_canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.title {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.title h1,
.dba-descript h2,
.contact-us h4 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
}
.contact-us h4  {
  font-size: 48px;
}
@media screen and (max-width: 640px) {
  .title h1 {
    font-size: 30px;
    margin: 80px 0px;
  }

  .title h1:first-child {
    max-width: 340px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Second Block */
.dba-descript {
  background: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dba-descript section {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dba-descript h2 {
  font-size: 48px;
  margin: 80px 0px 50px 0px;
}

.dba-descript p {
  font-size: 20px;
  margin: 0px;
}

.logo-dba-desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.logo-dba-desktop p {
  margin: 20px 0px;
  max-width: 377px;
  text-align: center;
}

.logo-dba-desktop div div:first-child {
  width: 377px;
  height: 377px;
  border-radius: 50%;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo-dba-desktop div div:first-child p {
  font-size: 32px;
  max-width: 332px;
}

.logo-dba-desktop div div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-dba-desktop div div:nth-child(2) p:nth-child(2) {
  font-size: 24px;
}

/* Logo-dba-mobile */

.logo-dba-mobile {}

.logo-dba-mobile-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 104.6%;
  text-align: center;
  width: 70%;
}

.radial {
  background-color: #222222;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

div.radial h2 {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .dba-descript section {
    width: 90%;
  }
}

@media screen and (min-width: 640px) {
  .logo-dba-mobile.slider {
    display: none;
  }
}

@media screen and (max-width: 640px) {

  .dba-descript section {
    width: 100%;
  }

  .dba-descript {
    min-height: 400px;
  }

  .dba-descript h2 {
    font-size: 24px;
    margin: 50px 0px 10px 0px;
  }

  .dba-descript section:nth-child(2) h2 {
    margin: 30px 0px 30px 0px;
  }

  .dba-descript section:nth-child(3) h2 {
    margin: 50px 0px 30px 0px;
  }

  .dba-descript p:first-child {
    font-size: 18px;
    font-weight: 500;
  }

  .logo-dba-desktop {
    display: none;
  }

  /* Slider */
  div.logo-dba-mobile.slider {
    width: 70%;
  }

  div.logo-dba-mobile.slider .slick-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.logo-dba-mobile.slider .slick-slide p:last-child {
    font-size: 16px;
    margin: 15px 0px 10px 0px;
    text-align: center;
  }

  .logo-dba-mobile p:nth-child(2) {
    font-size: 24px;
  }

  div.options-block-mobile.slider .slick-dots li button:before {
    color: white;
  }

  .slick-prev,
  .slick-next {
    top: 35%;
  }

  .slick-dots {
    font-size: 5px;
  }

  .slick-dots li {
    margin: 0px;
  }

  .slick-dots li.slick-active button:before {
    font-size: 10px;
    top: 1px;
  }
}
.second-section {
  margin-bottom: 80px;
}
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.options p {
  margin: 20px 0px;
  max-width: 377px;
  text-align: center;
}

.options div div:first-child {
  width: 377px;
  height: 377px;
  background: #222222;
  display: flex;
  align-items: center;
}
.options div div:nth-child(2) p:nth-child(2) {
  font-size: 24px;
}
.options-item div {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.options-item div p {
  color: white;
  font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 125.6%;
margin: 50px 0 40px 0;
}

div.options-item div.options-item-desctiption {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 10px;
}
div.options-item-desctiption p {
  color: black;
  max-width: 138px;
  text-align: left;
}
div.options-item-desctiption p:first-child {
font-weight: 500;
font-size: 18px;
line-height: 125.6%;
margin: 0;
}
div.options-item-desctiption p:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 104.6%;
  margin: 5px 0;
}
@media screen and (max-width: 640px) {
  .second-section {
    margin-bottom: 50px;
  }
  .dba-descript h2 {
    max-width: 350px;
    margin: 50px 0 30px 0;
  }
  .options.all {
      width: 90%;
  }
  .options-item {
      margin: 10px 0;
  }
  .options div {
      /* width: 100%; */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  
  .options p {
      margin: 0px 0px 10px 0px;
  }
  .options.all div div:first-child {
      width: 216px;
      height: 216px;
  }
  .options div div:first-child {
      width: 216px;
  }
  .options div div:nth-child(2) {
      width: 138px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 10px;
  }
  .dba-tools {
    justify-content: space-between !important;
    width: 90% !important;
    font-size: 16px !important;
  }
}
@media screen and (max-width: 412px) {
  .options.all div div:first-child {
      width: 200px;
      height: 200px;
  }
  .options div div:nth-child(2) p:nth-child(2) {
      font-size: 14px;
  }
}
.dba-tools {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
}
.dba-tools h2 {
  margin-top: 20px;
}