body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #222222;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.to-up {
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: none;
  z-index: 22;
  cursor: pointer;
}

.to-up-mobile {
  position: fixed;
  bottom: 70px;
  right: 50px;
  display: none;
  z-index: 22;
  cursor: pointer;
}