header:first-child a {
  text-decoration: none;
}

header:first-child div.logo p:hover,
header:first-child div.logo img:hover {
  cursor: pointer;
}

/* Header */
header:first-child {
  width: 100%;
  min-height: 75px;
  background: #292929;
  position: absolute;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

header:first-child section {
  width: 1200px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Language switcher (right side of header) */
header:first-child .lang-switcher {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 16px;
  font-size: 18px;
  color: white;
  white-space: nowrap;
}
header:first-child .lang-switcher a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}
header:first-child .lang-switcher a:hover {
  color: white;
}
header:first-child .lang-switcher a.active {
  color: white;
  font-weight: 600;
  pointer-events: none;
}
header:first-child .lang-switcher .lang-sep {
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
}


@media screen and (max-width: 1080px) {
  .logo-wrapper {
    display: none;
  }

  header:first-child {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  header:first-child {
    display: none;
  }
}

header:first-child div.logo {
  display: flex;
  width: 102px;
  height: 46px;
  justify-content: center;
  align-items: center;
}

header:first-child div.logo p {
  color: white;
  cursor: default;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  display: flex;
}

nav ul li:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  cursor: pointer;
  flex-wrap: nowrap;
}

nav ul>li {
  display: flex;
  position: relative;
  width: 200px;
  min-height: 75px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

nav ul>.submenu-link:nth-child(2), nav ul>.submenu-link:nth-child(2) .submenu, nav ul>.submenu-link:nth-child(1), nav ul>.submenu-link:nth-child(1) .submenu li{
  width: 230px;
}
nav ul>.submenu-link:nth-child(1) .submenu li {
  min-height: 44px;
}
nav ul>.submenu-link:nth-child(1) .submenu li:last-child {
  min-height: 70px;
}
nav ul>.submenu-link:nth-child(1) .submenu li:last-child a {
  width: 200px;
}
nav ul>.submenu-link:nth-child(2) .submenu li {
  width: 100%;
  min-height: 44px;
}

/* nav ul>.submenu-link:nth-child(2) .submenu li:last-child {
  min-height: 75px;
} */

nav ul>.submenu-link:nth-child(2) .submenu li:nth-child(2) a {
  padding: 0 30px;
}

.submenu-link:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.submenu {
  /* background: red; */
  backdrop-filter: blur(4px);
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 100%;
  height: 75px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
}

.topmenu>li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
  /* background: red; */
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.topmenu>li:hover .submenu li {
  background: #292929;
}

.topmenu>li:hover .submenu li:hover {
  background: rgb(61, 61, 61);
}

.topmenu>li .submenu a,
ul li a,
.menu li {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0px 4px; */
}

/* Header Mobile */

/* Меню, которое будет появляться */
.menu {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #414141;
  /* transform: translateY(-150%); */
  /* transition: transform 0.5s; */
  font-size: 16px;
  display: none;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu.active {
  display: block;
  /* transform: translateX(0); */
  margin: 0p;
}

.menu.active ul,
.menu ul {
  padding: 0px;
  margin: 0px;
}

.menu li {
  list-style-type: none;
  padding: 10px 0px;
}

.menu li:hover {
  cursor: pointer;
  background-color: #222222;
}

.first-submenu-mobile img,
.second-submenu-mobile img {
  padding-left: 5px;
}

.first-sub-item.active li,
.second-sub-item.active li {
  display: flex;
}

.first-sub-item li,
.second-sub-item li {
  display: none;
}

.current {
  padding: 2px;
  border-bottom: 2px solid white;
}

@media screen and (min-width: 800px) {
  header:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 880px) {
nav ul>.submenu-link:nth-child(2), nav ul>.submenu-link:nth-child(2) .submenu, nav ul>.submenu-link:nth-child(1), nav ul>.submenu-link:nth-child(1) .submenu li{
  width: 190px;
}}
@media screen and (max-width: 800px) {
  header:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* background-color: #414141; */
    position: absolute;
    z-index: 2;
    width: 100%;
    min-width: 375px;
  }
  header:nth-child(2) div {
    margin: 0 5%;
  }
  header:nth-child(2) div img {
    margin: 7px 0;
  }

  /* Language switcher in mobile header bar */
  header:nth-child(2) .lang-switcher-mobile {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    color: white;
    margin-right: 8px;
  }
  header:nth-child(2) .lang-switcher-mobile a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  header:nth-child(2) .lang-switcher-mobile a:hover {
    color: white;
  }
  header:nth-child(2) .lang-switcher-mobile a.active {
    color: white;
    font-weight: 600;
    pointer-events: none;
  }
  header:nth-child(2) .lang-switcher-mobile .lang-sep {
    color: rgba(255, 255, 255, 0.5);
  }

  /* Language switcher inside slide-out menu */
  .menu .lang-switcher-menu {
    min-height: auto !important;
    padding: 16px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    box-sizing: border-box;
  }
  .menu .lang-switcher-menu .lang-switcher {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
  }
  .menu .lang-switcher-menu a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  .menu .lang-switcher-menu a:hover {
    color: white;
  }
  .menu .lang-switcher-menu a.active {
    color: white;
    font-weight: 600;
    pointer-events: none;
  }
  .menu .lang-switcher-menu .lang-sep {
    color: rgba(255, 255, 255, 0.5);
  }

  .menu-btn {
    width: 36px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin: 6px 20px;
  }

  .menu-btn span {
    width: 36px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
  }

  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }

  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }

  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }

  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
}