@font-face {
  font-family: "ZzzFont";
  src: url("../../assets/fonts/Zzz.otf"), url("../../assets/fonts/Zzz.otf");
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* First Block */
.remote-main {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  left: 10%;
}
.title {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 34px;
  line-height: 125%;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  max-width: 514px;
}
.title h1,
.remote-describe h2 {
  font-family: "ZzzFont";
  font-weight: 500;
  font-size: 64px;
  line-height: 125%;
  font-style: normal;
  text-align: center;
  margin: 50px;
}

@media screen and (max-width: 640px) {
  .title h1 {
    font-size: 36px;
    margin: 80px 0px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
  }
}

/* Second Block */
.remote-describe {
  width: 100%;
  min-height: 840px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.remote-describe section:first-child {
  max-width: 878px;
}
.remote-describe section:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
.remote-describe section:nth-child(2) div:first-child {
  max-width: 672px;
}
.remote-describe section:nth-child(2) div:first-child p:nth-child(2) {
  text-align: right;
}
.remote-describe section:nth-child(2) div:nth-child(2) {
  position: relative;
}
.remote-describe section:nth-child(2) div:nth-child(2) div {
  position: absolute;
}
.fake-img-one {
  width: 476px;
  height: 480px;
  background-color: gray;
}
.fake-img-two {
  width: 290px;
  height: 320px;
  background-color: gray;
  border: 1px solid black;
  top: 280px;
  left: -100px;
}

.remote-describe h2 {
  font-size: 48px;
}
.remote-describe p {
  font-size: 36px;
  margin: 0px 20px 20px 0px;
}

.remote-describe section:nth-child(3) {
  display: flex;
}

@media screen and (min-width: 640px) {
  .remote-describe section {
    width: 76%;
  }
}
@media screen and (max-width: 640px) {
  .remote-describe h2 {
    font-size: 24px;
  }
  .remote-describe p {
    font-size: 18px;
  }
  .remote-describe section {
    padding: 0px 20px;
  }
}
